@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Manrope:wght@500;700&display=swap');


.attribution {
    font-size: 15px;
    text-align: center;
    margin: 2rem;
    font-family: 'IBM Plex Sans', sans-serif;
    position: absolute;
    bottom: 1rem;
}

.attribution p {
    display: block;
    padding-bottom: .5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card {
    width: 87.2%;
    max-width: 660px;
    display: grid;
}

.img_container {
    height: 13rem;
    overflow: hidden;
}

.card__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    object-position: 0 -.9rem;
}

.card__description {
    word-spacing: .2rem;
    color: hsl(217, 19%, 35%);
    background-color: white;
    padding-bottom: 1rem;
    padding-top: 2.3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 1.5;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;  
}

.card__description__header {
    font-weight: 700;
    padding-bottom: .5rem;
}

.card__description__paragraph {
    font-weight: 500;
    line-height: 1.6;
    font-size: 13px;
    padding-bottom: .5rem;
}
.user,
.share {    
    background-color: hsl(217, 19%, 35%);    
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    background: white;
    padding-top: .7rem;
}

.user__avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.user__info {
    color: hsl(217, 19%, 35%);
    line-height: 1.6;
    font-size: .8rem;
    margin-left: -3.5rem;
}

.user__info__name {
    font-weight: 700;
}

.share {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -4.4rem;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    opacity: 0;
    transition: opacity .5s ease-in-out;    
}

.share.active {
    transition: opacity .5s ease-in-out;
}

.share__text {
    letter-spacing: .3rem;
    color:hsl(212, 23%, 69%);
    font-size: 13px;
    font-weight: 700;
}

.share__icons {
    font-size: 17px;
    display: grid;
    column-gap: 1rem;
    grid-auto-flow: column;
    margin: auto;
    padding-right: 3rem;

}

.share-color {
    color: white;
}


.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    z-index: 2;
}
.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 2rem;
    height: 2rem;    
    background-color: hsl(214, 17%, 51%);
}

.icon-wrapper i {
    color: hsl(210, 46%, 95%);
}

.user__icon {
    background-color: hsl(210, 46%, 95%);
}

.user__icon i {
    color: hsl(214, 17%, 51%)
}
